---
layout: default
---
	
<script src="/assets/js/lightbox-plus-jquery.min.js"></script>
<link href="/css/lightbox.css" rel="stylesheet" />

{% for gallery in site.data.galleries %}
  {% if gallery.id == page.galleryid %}
    <h2>{{ gallery.description }}</h2>
    {% for image in gallery.images %}
      <br>
      <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}">
        <img src="{{ gallery.imagefolder }}/{{ image.thumb }}">
      </a>
    {% endfor %}
  {% endif %}
{% endfor %}
